.input-login-text,.input-login-password {
    outline:none;
    background: white;
    border: 1px solid black;
    height: 25px;
    width: 200px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-login-text:hover ,.input-login-password:hover{
    outline:none;
    background: white;
    border: 1px solid #a700fc;
    height: 25px;
    width: 200px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-login-text:focus ,.input-login-password:focus{
    outline:none;
    background: white;
    border: 1px solid #d48fee;
    height: 25px;
    width: 200px;
    margin-top: 5px;
    padding-left: 10px;
}


.input-search {
    outline:none;
    background: white;
    border: 1px solid #cccccc;
    height: 25px;
    width: 500px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-search:hover {
    outline:none;
    background: white;
    border: 1px solid #0e3aec;
    height: 25px;
    width: 500px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-search:focus {
    outline:none;
    background: white;
    border: 1px solid #00c9ff;
    height: 25px;
    width: 500px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-text {
    outline:none;
    background: white;
    border: 1px solid #cccccc;
    height: 25px;
    width: 500px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-text:hover {
    outline:none;
    background: white;
    border: 1px solid #0e3aec;
    height: 25px;
    width: 500px;
    margin-top: 5px;
    padding-left: 10px;
}

.input-text:focus {
    outline:none;
    background: white;
    border: 1px solid #00c9ff;
    height: 25px;
    width: 500px;
    margin-top: 5px;
    padding-left: 10px;
}